---
import { buttonVariants } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import QueryForm from "../components/query-form";
import Icon from "astro-icon";
---

<MainLayout title="BDFZ Birthday Checker">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >

      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.3] text-balance"
      >
        我在 bdfz
        <span class="text-gradient_indigo-purple">
          和谁<span class="font-sans font-bold">一天</span>生日<span
            class="font-sans font-bold"></span
          >
        </span>
      </h1>


    </div>
  </section>
    <QueryForm client:load />



</MainLayout>
